**/*~
**/bin/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/.classpath
/.project
/LICENSE.txt
/.settings/
/jtest.fil
/target/
/.metadata/
/RemoteSystemsTempFiles/
/.apt_generated/
/.factorypath
/nom-tam-fits.sonargraph/
.idea
nom-tam-fits.iml
coverage
javadoc
