<settings>
  <proxies>
  </proxies>
  <servers>
    <server>
      <id>nexus</id>
      <username>${env.NEXUS_USERNAME}</username>
      <password>${env.NEXUS_PASSWORD}</password>
    </server>
    <server>
      <id>github</id>
      <username>${env.PKG_USERNAME}</usernamne>
      <password>${env.PKG_PASSWORD}</password>
    </server>
  </servers>
  <mirrors>
  </mirrors>
  <profiles>
  </profiles>
</settings>
