<settings>
  <servers>
    <server>
      <id>nexus</id>
      <username>${env.CENTRAL_USERNAME}</username>
      <password>${env.CENTRAL_PASSWORD}</password>
    </server>
    <server>
      <id>github</id>
      <username>${env.PKG_USERNAME}</username>
      <password>${env.PKG_PASSWORD}</password>
    </server>
  </servers>
</settings>
