# Download

The current stable release is nom-tam-fits ${project.version} for Java 1.6 and higher.

To include nom-tam-fits into an existing project use the library published on Maven Central.

For Maven projects add the following to your dependencies:

```xml
<dependency>
	<groupId>gov.nasa.gsfc.heasarc</groupId>
	<artifactId>nom-tam-fits</artifactId>
	<version>${project.version}</version>
</dependency>
```

You can also download the JARs directly from [Maven Central](http://search.maven.org/#search|ga|1|g%3A%22gov.nasa.gsfc.heasarc%22 "Maven Central").

The source code can be found on [GitHub](https://github.com/nom-tam-fits/nom-tam-fits "GitHub"). Most development is happening in the master branch. Releases are generally tagged with the version number.


