[![Maven Central](https://maven-badges.herokuapp.com/maven-central/gov.nasa.gsfc.heasarc/nom-tam-fits/badge.svg)](https://maven-badges.herokuapp.com/maven-central/gov.nasa.gsfc.heasarc/nom-tam-fits)

# Maven integration

## Stable version

The current stable release is nom-tam-fits ${project.version} for Java 8 and higher.

To include nom-tam-fits into an existing project use the library published on Maven Central.

For Maven projects add the following to your dependencies:

```xml
<dependency>
	<groupId>gov.nasa.gsfc.heasarc</groupId>
	<artifactId>nom-tam-fits</artifactId>
	<version>${project.version}</version>
</dependency>
```

You can also download the JARs directly from [Maven Central](https://search.maven.org/#search|ga|1|g%3A%22gov.nasa.gsfc.heasarc%22 "Maven Central").


## Bleeding edge 

If you want to use the bleeding edge version of nom-tam-fits, you can get it from sonatype:

```xml
<dependencies>
	<dependency>
		<groupId>gov.nasa.gsfc.heasarc</groupId>
		<artifactId>nom-tam-fits</artifactId>
		<version>xxxxx-SNAPSHOT</version>
	</dependency>
</dependencies>
...
<repositories>
	<repository>
		<id>sonatype-snapshots</id>
		<url>https://oss.sonatype.org/content/repositories/snapshots</url>
		<snapshots>
			<enabled>true</enabled>
		</snapshots>
	</repository>
</repositories>    
```


