name: GitHub Package
on:
  release:
    types: [released]
#  push:
#    paths:
#      - '.github/workflows/gh-package.yml'

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'nom-tam-fits' }}
    permissions: 
      contents: read
      packages: write
      
    steps:
      - uses: actions/checkout@v3
        
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'maven'
                   
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          
      - name: Publish to GitHub Packages
        env:
          PKG_USERNAME: x-access-token
          PKG_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -B deploy -Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3 -Dmaven.javadoc.skip=true -DskipTests -Pgithub-repo --settings settings.xml


