name: Testing
permissions:
  contents: read
  pull-requests: write

on: 
  push:
    paths:
      - 'src/main/java/**'
      - 'src/test/java/**'
      - 'pom.xml'
      - '.github/workflows/test.yml'

  pull_request:
    paths:
      - 'src/main/java/**'
      - 'src/test/java/**'
      - 'pom.xml'
      - '.github/workflows/test.yml'

jobs:
  build:
    name: Build and Test

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        path: nom-tam-fits
        
    - name: Check out blackbox images 
      uses: actions/checkout@v6
      with:
        repository: nom-tam-fits/blackbox-images
        path: blackbox-images
        
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'adopt'
        cache: maven
        
    - name: Build and run tests
      run: mvn -B test jacoco:report --file pom.xml
      working-directory: ./nom-tam-fits
      
    - name: Log coverage percentage
      continue-on-error: true
      run: |
        echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
        echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"
       
    - name: Upload test coverage to Codecov.io
      uses: codecov/codecov-action@v5
      continue-on-error: true
      with:
        working-directory: ./nom-tam-fits
        files: ./target/site/jacoco/jacoco.xml
        fail_ci_if_error: false
        flags: unittests
        name: codecov
        verbose: true
        token: ${{ secrets.CODECOV_TOKEN }}
        
    - name: Upload test coverage to Coveralls.io
      continue-on-error: true
      env:
        COVERALLS_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: |
        if [ "$COVERALLS_TOKEN" != "" ] ; then 
           mvn coveralls:report -DrepoToken=$COVERALLS_TOKEN
        else
           echo "WARNING! COVERALLS_REPO_TOKEN secret is undefined. Skipping Coveralls.io upload."
        fi
      working-directory: ./nom-tam-fits
        
